<section>
    <div class="container m-auto w-100 mt-5 d-flex gap-5">
        @if (cartService.cart()) {
            <div class="d-flex flex-column gap-2 col-8">
                @for (item of cartService.cart()?.items; track item.productId ){
                    <div class="w-100">
                        <app-cart-item [item]="item"></app-cart-item>
                    </div>
                }
            </div>
            <div class="col-4">
                <app-order-summary></app-order-summary>
            </div>
        } @else {
            <app-empty-state message="Cart is Empty" redirectUrl="/shop">Go to shop?</app-empty-state>
        }
    </div>
</section>