@if (product) {
    <div class="card">
        <div class="card-header">
            {{product.name}}
        </div>
        <div class="card-body mt-2">
            <img height="265px" src="{{product.pictureUrl}}" alt="{{product.name}}" class="card-img-top">
            <div class="card-text">{{product.price | currency}}</div>
        </div>
        <button class="btn text-center card-footer">
            <fa-icon [icon]="faCartPlus"></fa-icon>
            Add to Cart
        </button>
    </div>
}
