#content {
    display:grid;
    @media (width >= 1200px) {
        grid-template-columns:repeat(5, 1fr);
    }
    @media (width < 1200px) {
        grid-template-columns:repeat(4, 1fr);
    }
    gap:1rem;
}

button.highlight {
    background-color : rgba(var(--bs-primary-rgb), .25)
}

